@model iCTF_Website.Pages.ArchivedChallengesModel
@using Westwind.AspNetCore.Markdown;

<h1>jctf{y0u_f0und_me_1b492f01} <-- Easter egg, DM to Eth007#0804 for a special role in the Discord Server</h1>

