@model IndexModel
@using Westwind.AspNetCore.Markdown;

@{
    Challenge challenge = Model.Chall;
}

<div class="bg-lighter-gray">
    <div class="container py-4">
<!--                <h1>About</h1> -->
<!--                <hr /> -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About</h5>
          <p class="card-text">ImaginaryCTF 2024 is a cybersecurity <a class="gray-text text-decoration-none cool-link" href="https://ctftime.org/ctf-wtf/" target="_blank">CTF competition</a> run by <a class="gray-text text-decoration-none cool-link" href="https://imaginaryctf.org" target="_blank">ImaginaryCTF</a> with a variety of challenges for all skill levels. It runs from July <a id="start"></a> to July <a id="end"></a>, starting and ending at <a id="time"></a>. For more information, check out last year's challenges from <a class="gray-text text-decoration-none cool-link" href="https://ctftime.org/event/2015" target="_blank">ImaginaryCTF 2023</a>, with over 2000 participants.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Challenges</h5>
          <p class="card-text">Teams will be challenged to discover vulnerabilities in websites, crack codes, and recover information through challenges in cryptography, binary exploitation, web exploitation, forensics, reversing, and more. We hope that you will learn something new from our challenges!</p>
        </div>
     </div>
  </div>
  <div class="col-lg-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Prizes</h5>
        <p class="card-text">
TBD<br>

<br><br>
         </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Daily CTF Challenges</h5>
        <p class="card-text">If you would like to do some CTF before or after this competition, we do host daily CTF challenges on our <a class="gray-text text-decoration-none cool-link" href="https://imaginaryctf.org" target="_blank">main website</a> and <a class="gray-text text-decoration-none cool-link" href="https://discord.gg/QxFdGYPd4P" target="_blank">Discord server</a>. You can join the competition for practice, or just for fun, as we will continue hosting them throughout the year.<br><br>We also have an active community around our daily challenges to provide support and help! Our daily challenges use the same Discord server as the server for this event, so feel free to stick around after the competition.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="bg-light-gray">
    <div class="container py-4">
      <h2 id="main"></h2>
      <h2 id="cd"></h2>
      <a id="register" class="btn btn-lg btn-outline btn-outline-dark rounded-button" asp-page="Register">Register Here</a>
    </div>
</div>

<script>
var x = setInterval(function() {
  var countDownDate = new Date(Date.UTC(2024, 6, 19, 19, 0, 0)).getTime();
  var now = new Date().getTime();
  var distance = countDownDate - now;
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  document.getElementById("main").innerText = "ImaginaryCTF 2024 starts in:"
  document.getElementById("cd").innerText = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
  if (distance < 0) {
    countDownDate = new Date(Date.UTC(2024, 6, 21, 19, 0, 0)).getTime();
    now = new Date().getTime();
    distance2 = countDownDate - now;
    var days = Math.floor(distance2 / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance2 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance2 % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance2 % (1000 * 60)) / 1000);
    document.getElementById("main").innerText = "ImaginaryCTF 2024 ends in:";
    document.getElementById("cd").innerText = days + "d " + hours + "h " 
    + minutes + "m " + seconds + "s ";
    if (distance2 < 0) {
      clearInterval(x);
      document.getElementById("main").innerText = "ImaginaryCTF 2024 has ended!";
      document.getElementById("cd").innerText = "";
      document.getElementById("register").innerText = "Check out Daily CTF Challenges";
      document.getElementById("register").href = "https://imaginaryctf.org/";
    }
  }
}, 1000);
</script>

<script>
var start = new Date('2024-07-21T19:00:00Z')
.toLocaleDateString('en-US', {
  timeZone:Intl.DateTimeFormat().resolvedOptions().timeZone,
  day: 'numeric',
});
var end = new Date('2024-07-23T19:00:00Z')
.toLocaleDateString('en-US', {
  timeZone:Intl.DateTimeFormat().resolvedOptions().timeZone,
  day: 'numeric',
});
var time = new Date('2023-07-23T19:00:00Z')
.toLocaleDateString('en-US', {
  timeZone:Intl.DateTimeFormat().resolvedOptions().timeZone,
  timeZoneName: 'short',
  hour: 'numeric',
});
var time = time.substring(time.indexOf(",") + 2);
document.getElementById("start").innerText = start
document.getElementById("end").innerText = end
document.getElementById("time").innerText = time
</script>
