@model IndexModel

<div class="bg-lighter-gray">
    <div class="container py-5">
        <div class="row px-4">
            <h1>Sponsors</h1>
            <hr />
            <p>Infra sponsored by goo.gle/ctfsponsorship</p>
            <div class="offset-md-3 col-md-6">
                <a href="https://cloud.google.com" target="_blank"><img class="sponsor" src="img/sponsors/google.jpg" title="Google Cloud" data-bs-toggle="tooltip" data-bs-placement="top" /></a>
                <a href="https://www.trailofbits.com/" target="_blank"><img class="sponsor" src="img/sponsors/trailofbits.jpg" title="Trail of Bits" data-bs-toggle="tooltip" data-bs-placement="top" /></a>
                <a href="https://try.digitalocean.com/developer-cloud" target="_blank"><img class="sponsor" src="img/sponsors/digitalocean.jpg" title="DigitalOcean" data-bs-toggle="tooltip" data-bs-placement="top" /></a>
	    </div>
        </div>
    </div>
</div>

<div class="bg-light-gray">
    <div class="container py-5">
        <div class="row px-4">
            <div class="offset-md-3 col-md-6">
                <h1>Our Team</h1>
                <hr />
                <img class="small-avatar" src="img/pfp/eth007.png" title="Eth007 - Challenge Developer, Infrastructure" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="img/pfp/matthew.png" title="Matthew ツ- Public Relations, Discord Manager" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="img/pfp/et3rnos.png" title="Et3rnos - Platform Developer" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="img/pfp/astro.png" title="Astro - Challenge Developer" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="img/pfp/ciaran.png" title="Ciarán - Challenge Developer" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="img/pfp/firepony.png" title="FIREPONY57 - Challenge Developer" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="img/pfp/max49.png" title="Max49 - Challenge Developer" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="img/pfp/puzzler7.png" title="puzzler7 - Challenge Developer" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="img/pfp/robin.png" title="Robin_Jadoul - Challenge Developer" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="img/pfp/scie.png" title="Scie - Challenge Developer" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="img/pfp/stephencurry.png" title="stephencurry396 - Challenge Developer" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="img/pfp/thebadgod.png" title="TheBadGod - Challenge Developer" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="img/pfp/zyphen.png" title="Zyphen - Challenge Developer" data-bs-toggle="tooltip" data-bs-placement="top" />
                <img class="small-avatar" src="img/pfp/oreos.png" title="0x6F72656F73 - Challenge Developer" data-bs-toggle="tooltip" data-bs-placement="top" />
            </div>
        </div>
    </div>
</div>
